{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * FlowReCaptcha plugin for Craft CMS 3.x
 *
 * FlowReCaptchaField Field Input
 *
 * @author    Flow Communications
 * @copyright Copyright (c) 2018 Flow Communications
 * @link      https://www.flowsa.com
 * @package   FlowReCaptcha
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

<div class="g-recaptcha"  data-sitekey="{{ siteKey }}"></div>

<ul class="parsley-errors-list filled js-ga-error hidden">
        <li class="parsley-required">
                Please complete the verification
        </li>
</ul>

<input type="hidden" name="{{ name }}" value="1">

<div class="js-ga-validate hidden" data-ga-validate="false"></div>
